LOG_DIR=logs echo LOG_LEVEL=DEBUG echo CONSOLE_LOG_LEVEL=ERROR echo INTERNAL_CONTRATOS_LIST_URL=http://MIHOST/.../index.php?action=empleadoContratoIndex echo INTERNAL_CONTRATOS_CREATE_URL=http://MIHOST/.../index.php?action=empleadoContratoCreate echo INTERNAL_CONTRATOS_UPDATE_URL=http://MIHOST/.../index.php?action=empleadoContratoUpdate echo SYNC_CONTRATOS=1 echo DATA_URL_TEMPLATE=http://HOSTEXTERNO/apirh/ct_empleado/{clave}/{param} echo EXTERNAL_PARAM=REEMPLAZAR_CON_TOKEN echo KEYS_URL=http://MIHOST/.../index.php?action=centroTrabajoIndex echo OUTPUT_DIR=output echo CONCURRENCY=20 echo RETRY_LIMIT=3 
